version: '3.5'

services:
  mysql:
    image: mysql:latest
    container_name: mysql-dev
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: pw123456
    ports:
      - 3306:3306
    volumes:
      - mysql-db:/var/lib/mysql
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    networks:
      - dev

networks:
  dev:
    name: dev-bridge
    driver: bridge

volumes:
  mysql-db:
    driver: local
    name: mysql-db