version: '3.5'

services:
  redis:
    image: redis:latest
    container_name: redis-dev
    ports:
      - 6379:6379
    # volumes:
    #   - ~/docker/redis/data/data:/data
    #   - ~/docker/redis/config/redis.conf:/usr/local/etc/redis/redis.conf
    restart: always
    networks:
      - dev

networks:
  dev:
    name: dev-bridge
    driver: bridge
